body{
    margin: 0;
    background-color:rebeccapurple;
    color: rgb(218, 214, 214);
}
#flex{
    background-color: rgba(241, 230, 230, 0.61);
    height: 35px;
    
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    
}

a{
    
    font-family:'Times New Roman', Times, serif;
    padding: 25px;
    text-align: center;
    font-size: 25px;
    color: white;
    font-family: cursive;
    text-decoration: none;
}
a:hover{
    color: gold;
}

.headline{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    text-align: center;
    padding: 20px;
}

.headline:hover{
    color: rgb(20, 204, 20);
}

.card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: fit-content ;
    text-align: center;
    border-radius: 20px;
    background-color: bisque;
    color: black;
    border: groove 2px;
    transition: 0.3s;
}
.card:hover{
     background-color: rgba(255, 255, 254, 0.164);
     transform: translatey(-10px)scale(1.15);
}
.cah{
    text-decoration: underline;
    font-family: cursive;
    font-size: 20px;
    padding: 10px;
    color: rgb(0, 0, 0);
}

.textcard{
    font-size: 18px;
    font-family: monospace;
    padding: 10px;
    text-transform: capitalize;
    text-align:start;
    line-height: 25PX;
}

.apps{
    display: flex;
    gap: 20px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 100px;
   
}

.grow{
    font-family: monospace;
     padding: 20px;
    background-color: rgba(0, 0, 0, 0.61);
    border-radius: 30px;
    font-size: 18px;
    text-transform: capitalize;
   transition: 0.3s;
   border: solid white 2px;
}
.grow:hover{
    transform: translateX(70px);
    border: dotted peachpuff 2px;
    background-color: rgba(182, 16, 16, 0.5);
}
.journal{
    font-family: monospace;
    border-radius: 30px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.623);
    text-transform: capitalize;
    font-size: 18px;
    transition: 0.3s;
}
.journal:hover{
    transform: translateY(-70px);
    background-color: rgba(0, 128, 0, 0.5);
}

.settings{
    font-family: monospace;
    border-radius: 30px;
    text-transform: capitalize;
    font-size: 18px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.623);
    transition: 0.3S;
}
.settings:hover{
    transform: translateX(-70px);
    background-color: rgba(0, 0, 255, 0.5);
}

.tips{
    background-color: bisque;
    align-items: center;
    width: fit-content;
    text-align: center;
    border-radius:15px;
    margin-left: 400px;
    margin-right: 50px;
    margin-bottom: 60px;
    margin-top: 50px;
    transition: 0.3s;

}
.tips:hover{
    transform: scale(1.06);
    background-color: white;
}
.texttips{
    text-align: justify;
    padding: 20px;
    font-size: 18px;
    color: black;
    font-family: monospace;
    font-weight: bold;
    line-height: 30px;
}
.tipsh{
    padding: 10px;
    color: black;
    font-family: cursive;
    text-decoration: underline;
}

.tiphack{
    display: flex;
    gap: 3px;
}
.thz{
   background-color: bisque;
    align-items: center;
    width: fit-content;
    text-align: center;
    border-radius:15px;
    margin-left: 50px;
    margin-right: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: 0.3s;
    padding: 10px;
    color: black;
    font-family: cursive;
    font-weight: bold;
    transition: 0.3s;
    
}
.thz:hover{
    background-color: rgb(248, 99, 99);
    transform: scale(1.02);
}
.thz2{
   height: 201px;
    padding: 10px;
    background-color: black;
    padding:20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}
.thz2{
    background-color: white;
    color: black;
}
.a1{
    
    font-family:'Times New Roman', Times, serif;
    padding: 25px;
    text-align: center;
    font-size: 25px;
    color: rgb(231, 25, 25);
    font-family: cursive;
    text-decoration: none;
}
.a1:hover{
    color: gold;
}

.ma{
    padding: 0%;

    font-size: 18px;
    color: rgb(192, 37, 37);
}