:root{

    --primary:#6BBF59;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}


body{
    font-family: Arial, sans-serif;
    overflow: hidden;
}


.desktop{
    width: 100%;
    height: 100vh;

     background-image: url(assets/wallpapers/day.jpg);
     background-size: cover;
     background-position: center;
     transition:background-image .5s ease;
     display: flex;
     flex-direction: column;
     transition:0.5s ease;
}

.top-bar{
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 30px;

    color: white;

    background: rgba(0, 0, 0,.15);
    backdrop-filter: blur(12px);
}

.top-bar h1{
    font-size:28px;
}

.time{
    font-size: 18px;
    font-weight: bold;
}

.desktop-icons{

    flex: 1;

    display: flex;
    flex-direction: column;

    gap: 35px;

    padding: 40px;

}


.icon{
    width: 90px;
    text-align: center;
    color: white;
    cursor: pointer;

    transition: 3s;
}

.icon img{
    width: 70px;
    height: 70px;

    object-fit: contain;
}

.icon p{
    margin-top: 8px;
    font-size: 16px;
}

.icon:hover{
    transform:translateY(-10px) scale(1.1);
    filter:drop-shadow(0 8px 15px rgba(0,0,0,.25));
    color: rgb(0, 174, 255);
}

.dock{
    width: 420px;
    height: 65px;

    margin: 20px auto;

    border-radius: 20px;

    background: rgba(255, 255, 255, .20);
    backdrop-filter: blur(18px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;

    color: white;
}



#intro{
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background: #edf7ea;
    background-image: url(assets/logo/intro.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 9999;
}

#intro img{
    width: 140px;
    margin-bottom: 20px;
   
}

#intro h1{
    font-size: 42px;

    color: #60c559;
}

#intro p{
    margin-top: 10px;
    color: #dfdcdc;
}


.loader{
    width: 260px;

    height: 10px;

    background: #d8e9d3;
    border-radius: 20px;
    margin-top: 35px;

    overflow: hidden;
}

.progress{
    width: 0;
    height: 100%;
    background:var(--primary);

    animation: loading 3s linear forwards;
}

@keyframes loading {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

.theme-buttons{
    display: flex;
    gap: 10px;
}

.theme-buttons button{
    border: none;
    padding: 8px 14px;
    border-radius: 30px;
    cursor: pointer;
    background: white;
    transition: .3s;
}
.theme-buttons button:hover{
    transform: scale(1.05);
}

.window{
    position:absolute;
    cursor:default;
    top: 120px;
    left: 150px;
    width: 420px;
    background: white;
    border-radius: 18px;
    overflow: hidden;
    box-shadow:0 20px 50px rgba(0,0,0,.25);
    display: none;
    opacity: 0;
    transform: scale(.9);
    user-select:none;
    transition:0.2s ease;
}
.window-header{
    cursor:grab;
}

.window-header:active{
    cursor:grabbing;
}
.window.show{
    display: block;
    opacity: 1;
    transform: scale(1);
}

.window-header{
    background:var(--primary);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    cursor:all-scroll;
}

.window-header button{
    background: none;

    border: none;

    color: white;

    font-size: 20px;

    cursor: pointer;
}

.window-body{
    padding: 20px;
}

.folder{
    padding: 12px;

    border-radius: 10px;

    margin-bottom: 10px;

    background: #F2F8F0;

    cursor: pointer;

    transition: .3s;
}

.folder:hover{

    background:#DDF0D7;

}


textarea{

    width: 100%;

    height: 260px;

    border: none;

    outline: none;

    resize: none;

    font-size: 16px;

    font-family: Arial,sans-serif;

    background: transparent;
}

.colors{
    display: flex;
    gap: 15px;
    margin: 15px 0;
}

.colors button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.green{
      background:var(--primary);
}

.blue{

    background: #4A90E2;
}

.orange{

    background:#F4A261;

}

.window-body h3{
    margin: 15px 0 10px;
}

button{
    transition:.25s ease;
}

button:hover{
    transform:translateY(-2px);
}

button:active{
    transform:scale(.96);
}


.credits{

    position:fixed;

    bottom:8px;

    right:15px;

    color:white;

    font-size:13px;

    opacity:.8;

}

#day-theme{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 20px;
    border: bold;
    border-color: skyblue;
    font-family: cursive;
    cursor: pointer;
}
#day-theme:hover{
background-color: black;
color: white;
border-radius: 10px;
}
#night-theme{
    background-color:rgba(0, 0, 0, 0.61);
    color: white;
    font-family: cursive;
    padding: 10px;
    border-radius: 20px;
    border: bold;
    cursor: pointer;
}
#night-theme:hover{
    background-color:rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

#reset-theme{
    cursor: pointer;
    background: white;
    padding: 10px;
    border-radius: 10px;
    border-color: black;
}

#reset-theme:hover{
    cursor: grab;
    background: rgba(214, 19, 12, 0.952);
    padding: 10px;
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
    color: white;
}

#h31{
    font-family: monospace;
}

#day-btn{
    width: 45px;
    height: 45px;
    background-color: #3ebd0c;
    border:solid 2px white;
    transition: 0.3s;
  
}
#day-btn:hover{
    transform: translateY(-10px);
    background-color: white;
    border:solid 2px rgb(0, 0, 0);
}

#night-btn{
    width: 45px;
    height: 45px;
    background-color: #0b8f12;
    border: solid 2px white;
    transition: 0.3s;
}
#night-btn:hover{
    background-color: white;
    border:solid 2px rgb(0, 0, 0);
    transform: translateY(-10px);
}

button{
    font-family: monospace;
}

#j1{
    font-family: cursive;
}

#s1{
    font-family: monospace;
    color: black;
   font-size: large;
   font-weight: bold;
}

#close-grow{
    color: rgb(255, 253, 253);
    background-color: rgb(49, 49, 49);
    padding: 0 4px;
    border-radius:5px;
}
#close-grow:hover{
    background-color: rgba(216, 6, 6, 0.932);
}

#close-settings{
    color: rgb(255, 253, 253);
    background-color: rgb(49, 49, 49);
    padding: 0 4px;
    border-radius:5px;
}
#close-settings:hover{
    background-color: rgba(216, 6, 6, 0.932);
}

#close-journal{
    color: rgb(255, 253, 253);
    background-color: rgb(49, 49, 49);
    padding: 0 4px;
    border-radius:5px;
}
#close-journal:hover{
    background-color: rgba(216, 6, 6, 0.932);
}

#m1{
    font-family: monospace;
    font-weight: bold;
}

.folder{
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
}

.time{
    height: 60px;
    font-family:cursive;
    font-size: 25px;
    
    padding: 10px;
    border-style:bold 2px black;
    color: black;
}
.time:hover{
    background-color: rgba(151, 149, 149, 0.397);
    
}

#head1{
    font-family:cursive;
    font-weight: bold;
    color: rgb(76, 248, 76);
    transition: 0.3s;
}

#head1:hover{
    font-family:cursive;
    font-weight: bold;
    color: rgb(4, 1, 184);
   transform: translateX(10px);
}



#guide-btn{
    font-family: cursive;
    width: 45px;
    height: 45px;
    padding: 5px;
    color: white;
    background-color: #177226;
    border-radius: 30px;
    border:solid 2px rgb(255, 255, 255);
    transition: 0.3s;
  
}
#guide-btn:hover{
    transform: translateY(-10px);
    color: black;
    background-color: white;
    border:solid 2px rgb(0, 0, 0);
}

#last{
    font-family:cursive;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.918);
    text-decoration: underline 3px;
    
    background: blur(10px);
    
}

#last:hover{
    color: white;
    text-decoration: line-through black 3px;
}
#close-guide{
    color: rgb(255, 253, 253);
    background-color: rgb(49, 49, 49);
    padding: 0 4px;
    border-radius:5px;
}
#close-guide:hover{
    background-color: rgba(216, 6, 6, 0.932);
}